<html>
	<head>
		<title>Bill Receipt</title>
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<style>
		body {
  			background-image: url("/static/img/background.jpg");
		}
		input {
			text-align: center;
		}
		button{
			text-align: center;
		}
		textarea {
			text-align: center;
			margin: auto;
			width: 50%;
			padding: 10px;
		}
		.content {
			text-align: center;
			max-width: 360px;
			margin: auto;
			margin-top: 10%;
			background: white;
			padding: 10px;
		}
		h1 {
			max-width: 100%;
			height: auto;
		}
		table, th, td {
		
			  border: 1px solid black;
			  border-collapse: collapse;
		}
		thead {
			text-align: center;
		}
	</style>
    </head>
    <body>
	<div class="content">
		<dialog id="dialogItem">
			<h3>Insert Item</h3>
				<div style='text-align:left'><label for="item">Item name</label>
				<input name="item" id="item" maxlength="16"></div><br>
				<div style='text-align:left'><label for="quantity">Quantity</label>
				<input type="number" id="quantity" name="quantity" min="0"></div><br>
				<div><label for="price">Price/unit</label>
				<input type="number" name="price" value="0.00" id="price" step="0.10" min="0.10"></div><br>
			<input id="button" type="button" value=" Add " onclick="addItem()">
			<input id="button" type="button" value=" Cancel " onclick="closePickItem()">
		</dialog>
		
		<dialog id="dialogTitle">
			<h3>Change Title</h3>
			<div id="titleData">
				<br> Title
				<select id="title" name="title" onclick="onSelectTitle(this.value)">
					{% for perniagaan in jenisPerniagaan %}
                                        <option value="{{perniagaan.name}}" selected>{{perniagaan.name}}</option>
                                        {% endfor %}
				</select>
			</div>
			<br><input id="button" type="button" value=" OK " onclick="closeChangeTitle()">
		</dialog>
		
		<div id="tab" >
		  <h3 id="myTitle" onclick="changeTitle()">Select title here</h3>
		  <button onclick="pickItem()" class="btn" style="float: right;"><i class="fa fa-plus" ></i> ADD</button><br><br>
		  <table id="myTable" cellspacing="0px" style="width:100%" >
			<thead>
			  <tr >
				<td><b>Qty</b></td>
				<td style="width:50%"><b>Items</b></td>
				<td><b>RM</b></td>
				<td></td>
			  </tr>
			</thead>
			<tbody>
			</tbody>
		  </table>
                  <h3>Total RM<span id="total">0.0</span></h3>
		  <div class="btn-group">
			<br><a href="/history"><button class="btn"><i class="fa fa-history"></i> History</button></a>
		    <br><button onclick="sendToPrinter()" class="btn margin-right" style="display:inline-block"><i class="fa fa-print"></i> Print</button>
		    <br><button onclick="sendToDb()" class="btn"><i class="fa fa-save"></i> Save</button>
		  </div>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>	
		const myItems = document.getElementById("dialogItem"); 
		const myTitles = document.getElementById("dialogTitle"); 
		function addItem() {
		  var rows = "";
		  var no = document.getElementById("myTable").rows.length;
		  var items = document.getElementById("item").value;
		  var qty = document.getElementById("quantity").value;
		  var price = document.getElementById("price").value;
		  var rm = parseFloat(price)
		  
		  if(items =="" || qty =="" || rm=="")
		  {
			  alert("can't insert data because it is empty");
		  }
		  else{
			  rows += "<tr><td style='text-align:center'>" + qty + "</td><td style='text-align:left;padding-left: 15px;'>" + items + "</td><td style='text-align:center'>" + rm.toFixed(2) + "</td><td style='text-align:center'><button onclick = deleterow(this)><i class='fa fa-trash'></button></td></tr>";
			  $(rows).appendTo("#myTable tbody");
			  onTotalRM()
			  ResetForm();
			  myItems.close(); 
		  }
		  
		}

		function onTotalRM() {
		  var table = document.getElementById("myTable");
		  var value = 0.0;
		  for (var row = 1; row < table.rows.length; row++)
		  {
			var tableRow = table.rows[row]; 
			value = value + parseFloat(tableRow.cells[2].innerHTML) * parseFloat(tableRow.cells[0].innerHTML);
		  }
		  document.getElementById("total").text = 
		  total.innerText = value.toFixed(2);
		}

		function onSelectTitle(title) {
		  document.getElementById("myTitle").text = 
		  myTitle.innerText = title;
		}
		
		function ResetForm() {
		  document.getElementById("item").value = "";
		  document.getElementById("quantity").value = "";
		  document.getElementById("price").value = "";
		}
		
		function sendToPrinter() {
			var countItems = document.getElementById("myTable").rows.length;
			var tab = document.getElementById("myTable");
			var title = document.getElementById("myTitle").text
			if(countItems == 1 || title === undefined)
			{	if (countItems == 1) 
				{
					alert("nothing to print!");
				} else {
					alert("Please click title");
				}
			}
			else
			{	
				
				var tableData = tableToJson(tab);
				var data = { title : title, item : tableData};
				const myJSON = JSON.stringify(data);
				const obj = JSON.parse(myJSON);
				
				$.ajax({
					type: 'post',
					url: '/print',
					data: myJSON,
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					traditional: true,
					success: function(data){
						alert(data.text)
						if(data.status == 200){
							reset_table();
						}
					},
					error: function(xhr, status, error){
						let errorMessage;
						// Check if the server responded with JSON data
						if (xhr.responseJSON && xhr.responseJSON.text) {
							errorMessage = xhr.responseJSON.text;  // Server error message in JSON format
							alert("Fail to print " + errorMessage)
						} else {
							errorMessage = xhr.responseText || "An unknown error occurred.";  // Fallback to plain text or default message
						}
					}
        		});
			}
			
		}
		function sendToDb() {
			var countItems = document.getElementById("myTable").rows.length;
			var tab = document.getElementById("myTable");
			var title = document.getElementById("myTitle").text
			if(countItems == 1 || title === undefined)
			{       if (countItems == 1)
					{
							alert("nothing to save!");
					} else {
							alert("Please click title");
					}
			}
			else
			{
				var tableData = tableToJson(tab);
				var data = { title : title, item : tableData};
				const myJSON = JSON.stringify(data);
				const obj = JSON.parse(myJSON);

				$.ajax({
					type: 'post',
					url: '/save',
					data: myJSON,
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					traditional: true,
					success: function(data){
						alert(data.text)
						if(data.status == 200){
							reset_table();
						}
					},
					error: function(xhr, status, error){
						if (xhr.responseJSON && xhr.responseJSON.text) {
							errorMessage = xhr.responseJSON.text;  // Server error message in JSON format
							alert("Fail to save " + errorMessage)
						} else {
							errorMessage = xhr.responseText || "An unknown error occurred.";  // Fallback to plain text or default message
						}
					}
				});
			}
	    }
		function deleterow(el) {
		  $(el).closest('tr').remove();
		  onTotalRM()
		}
		
		function pickItem() { 
		  myItems.showModal(); 
		} 
		function closePickItem() { 
		  myItems.close(); 
		} 
		
		function changeTitle() { 
		  myTitles.showModal(); 
		} 
		function closeChangeTitle() {
		  myTitles.close(); 
		}
		
		function tableToJson(table) { 
			var data = [];
			for (var i = 1; i < table.rows.length; i++) { 
				var tableRow = table.rows[i]; 
				var rowData = []; 
				for (var j = 0; j < tableRow.cells.length-1; j++) { 
					rowData.push(tableRow.cells[j].innerHTML);
				} 
				data.push(rowData); 
			} 
			return data;
		}
		function reset_table(){
			$('#myTable tbody').empty();
		}
	</script>
    </body>
</html>
